<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Perros en adopción</title>

        <!--Importar hoja de estilos-->
        <link rel="stylesheet" href="../resource/style/estilos.css">

    </head>
    <body class="fondo-body">
        <!--Cabecera titulo principal de la vista-->
        <header>
            <h1> CACHULO </h1>
        </header>

        <!--Cuerpo del documento-->
        <section class="fondo-container">
            
            <!--Botones para volver a las otras vistas-->
            <div class="nav">
                <!--Volver a perros-->
                <a href="perros.html" class="enlace">Volver a Perros</a>
                <!--Volver al inicio-->
                <a href="index.html" class="enlace">Inicio</a>
            </div>
            
            <!--Descripción del perro-->
            <div class="descripcion">
                <img src="../resource/img/flaca.jpg" alt="Perro flaca" title="Fotografía perro Flaca" class="mascota">
                
                <table class="tabla">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nombre</td>
                            <td>: Flaca</td>
                        </tr>
                        <tr>
                            <td>Edad</td>
                            <td>: 2 años</td>
                        </tr>
                        <tr>
                            <td>Género</td>
                            <td>: Hembra</td>
                        </tr>
                        <tr>
                            <td>Esterilizado</td>
                            <td>: Sí</td>
                        </tr>
                        <tr>
                            <td>Número chip</td>
                            <td>: 2222222222</td>
                        </tr>
                    </tbody>
                </table>
            </div>            
        </section>
    </body>
    <!--Pie de página con los integrantes del equipo-->
    <footer>
        <p> 
            <ul class="integrantes">
                <li> <i>  María Belén &COPY; </i> </li>
                <li> <i>  María Fernanda &COPY; </i> </li>
            </ul>
        </p>
    </footer>
</html>