<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../resource/style/estilos.css">
    </head>
    <body class="fondo-body">
            
    </body>
       <header>   
            <section class="fondo-container"></section>
            
    <img src="../resource/img/ginger.jpeg" alt="Adopción de gato Giger" title="Adopción de Cachulo" class="img">
                <p>
                <ul>
                    <li>Nombre:Ginger</li>
                    <li>Edad : 2 Años</li>
                    <li>Genero:Hembra</li>
                    <li>Esterilizado:Si</li>
                    <li>Nro.Chip:23344434</li>
                </ul>
                </p>
            
        </header>  
</head>
<body>
    
</body>
</html>