<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucifer</title>

    <link rel="stylesheet" href="../resource/style/estilos.css">

</head>
<body class="fondo-body">
    <header>
            <div class="nav">
        <a href="index.html" class="enlace">Inicio</a>
 
        </div>
        <img src="../resource/img/lucifer.jpg" alt="Adopción de gato Lucifer" title="Adopción de Lucifer" class="img">  
             
        <h3>  
            
            
            <p> Nombre:Lucifer<br>Edad : 6 meses<br>Genero:Macho<br>Esterilizado:No <br>Nro.Chip:55486534</p>
        
        </h3>        
        
    </header>

    </body>
</html>