<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ginger</title>

    <link rel="stylesheet" href="../resource/style/estilos.css">

</head>
<body class="fondo-body">
    <header>
            <div class="nav">
        <a href="index.html" class="enlace">Inicio</a>
 
        </div>
        <img src="../resource/img/ginger.jpeg" alt="Adopción de gato Giger" title="Adopción de Ginger" class="img">  
             
        <h3>  
            
            
            <p> Nombre:Ginger<br>Edad : 2 Años<br>Genero:Hembra<br>Esterilizado:Si <br>Nro.Chip:23344434</p>
        
        </h3>        
        
    </header>

    </body>
</html>