<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tommy</title>

    <link rel="stylesheet" href="../resource/style/estilos.css">

</head>
<body class="fondo-body">
    <header>
            <div class="nav">
        <a href="index.html" class="enlace">Inicio</a>
 
        </div>
        <img src="../resource/img/tommy.jpg" alt="Adopción de gato Tommy" title="Adopción de Tommy" class="img">  
             
        <h3>  
            
            
            <p> Nombre:Tommy<br>Edad :3 meses<br>Genero:macho<br>Esterilizado:No <br>Nro.Chip:4546465</p>
        
        </h3>        
        
    </header>

    </body>
</html>