<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <a href="#" class="font">
            <p>
            <img src="../resource/img/cachulo.jpeg" aling="left" style="width:300px;height:400px;"; alt="Adopción de Perro Cachulo" title="Adopción de Cachulo" class="fotos-url">
            
            
            <link rel="stylesheet" href="../resource/style/estilos.css">    
            </p>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
</head>
<body>
    
</body>
</html>