.fondo-body{
    background-image: url(../img/fondo.jpg);
}
.fondo-container{
    background-color:  rgba(233, 219, 219, 0.9);
    border-radius: 20px;
    width: 70%;
    margin-left: 12%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 3%;
    padding-top: 0%;
    border-color:rgb(213, 123, 216, 0.9);
    border-style: solid;
}

header{
    width: 80%;
    margin-left: 10%;
    border-radius: 20%;
    background-color: rgba(156, 81, 158, 0.9);
}

header h1{
    color: white;
}

.descripcion{
    margin-top: 5%;
}

.logo{
    width: 400px; 
    height: 150px;
    float: left;
    margin-right: 2%;
    margin-top: 4px;
    border-radius: 10%;
}


h1{
    letter-spacing: 1px;
    color: rgb(2, 2, 2);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

h2{
    letter-spacing: 1px;
    color: rgb(2, 2, 2);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
}

.font{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: rgb(41, 40, 40);
}

.fotos-url{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 2%;
    margin-left: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
}

a:link, a:visited, a:active{
    text-decoration:none;
}

.enlace{
    background-color: rgba(156, 81, 158, 0.9);
    margin-top: 3%;
    padding: 10px;
    border-radius: 40%;
    float: right;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.nav{
    margin-bottom: 10%;
}

footer{
    color: white;
    background-color: rgba(156, 81, 158, 0.9);
    padding: 5px;
}

.integrantes{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

ul{
    list-style: none;
}


